#GO{ width: 50px; }
#Send{ width: 70px; }
#Edit{ width: 74px; }
#Save{ width: 74px; }
#Back{ width: 74px; }
#Next{ width: 74px; }
#Close{ width: 70px; }
#Print{ width: 70px; }
#Reset{ width: 70px; }
#Delete{ width: 76px; }
#Update{ width: 116px; }/*Recalculate*/
#Cancel{ width: 80px; }
#Remove{ width: 76px; }
#SubmitId{ width: 80px; }
#LOGIN{ width: 80px; }
#CANCEL{ width: 76px; }
#LOGOUT{ width: 90px; }
#PROCEED{ width: 92px; }
#Previous{ width: 98px; }
#Policies{ width: 88px; }
#EmailAll{ width: 150px; }
#NextPage{ width: 102px; }
#ApplyNow{ width: 125px; }
#LogInNow{ width: 110px; }
#SearchNow{ width: 150px; }
#EnrollNow{ width: 110px; }
#LoginNow{ width: 110px; }
#AddtoCart{ width: 106px; }
#BacktoTop{ width: 116px; }
#PrintGrades{ width: 160px; }
#SearchAgain{ width: 125px; }
#MakeChanges{ width: 120px; }
#SaveChanges{ width: 128px; }
#CopyAddress{ width: 128px; }
#RequestDrop{ width: 128px; }
#ViewDetails{ width: 120px; }
#ExportGrades{ width: 160px; }
#PrintBlankGrades{ width: 200px; }
#KeepShopping{ width: 215px; }
#PreviousPage{ width: 128px; }
#EmailPassword{ width: 156px; }
#SearchCourses{ width: 150px; }
#SavethisPage{ width: 131px; }
#AddAssociation{ width:150px;}
#ForgotPassword{ width: 135px; }
#ResetthisPage{ width: 137px; }
#EmailUserName{ width: 149px; }
#PrinterFriendly{ width: 136px; }
#ViewApplication{ width: 152px; }
#RequestTransfer{ width: 148px; }
#MoreInformation{ width: 156px; }
#ReturntoLogIn{ width: 140px; }
#ContinueCheckout{ width: 215px; }/* UofT: continue with registration*/
#RegistrationPolicies{ width: 215px; }
#StartApplication{ width: 146px; }
#BacktoHeadlines{ width: 170px; }
#BacktoHomePage{ width: 170px; }
#SubmitApplication, #SubmitApplicationNext{ width: 158px; }
#AddGroupByCode{ width: 110px; }
#AddAnotherSchool{ width: 168px; }
#ViewOnlineCourse{ width: 168px; }
#RequestInformation{ width: 166px; }
#AddAnotherAddress{ width: 170px; }
#PrintBlankTemplate{ width: 166px; }
#ContinueApplication{ width: 168px; }
#RemovethisLocation{ width: 174px; }
#SaveandFinishLater{ width: 176px; }
#BackToMyApplication{ width: 192px; }
#BacktoAnnouncements{ width: 190px; }
#AddAnotherPhoneFax{ width: 198px; }
#submitapprovedgrading{ width: 185px; }
#AddAnotherEmailAddress{ width: 210px; }
#AddAnotherPhoneFaxNumber{ width: 245px; }
#PrinterFriendlyCourseRoster{ width: 175px; }
#joinWaitList{ width: 140px; }
#requestInformation{ width: 170px; }
#addToBasket{ width: 160px; }/*Add to Shopping Cart*/
#notify{ width: 258px;  } /*Notify Me When Enrollment Opens*/
#PaySelectedInvoices{ width: 220px; }
#goTaxReceipt{ width: 60px; }
#printTaxReceipt{ width: 170px; }
#uc-global-search-submit{ width: 71px;}